h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#universal-buttons {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 30px;
}

#todos-list {
  margin: auto;
  width: 40%;
  min-width: 450px;
  border-style: solid;
  border: rgb(58, 58, 58); 
  background-color: #f3f3f3;
  text-align: center;
}

button {
  padding: 5px;
  margin: 5px 10px;
  border-radius: 4px;
  background: #f3f3f3;
  text-align: center;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(58, 58, 58); 
  color: #f3f3f3; 
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

input {
  border-radius: 4px;
  padding: 4px;
}

li {
  font-family: sans-serif;
  text-align: left;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.todo-button {
  float: right;
  width: 75px;
}

.todos-text {
  display: flex;
  justify-content: flex-start;
  min-width: 50%;
  margin: 0;
  padding-top: 8px;
}